# Ignorar configuracoes locais do VS Code
.vscode/

# Ignorar executaveis do Windows
*.exe

# Ignorar executaveis do Mac/Linux
*.out
*.o

# Ignorar pasta de debug do Mac
*.dSYM/

# Ignorar o executavel gerado pelo Mac (que tem o mesmo nome da pasta)
atividade01
atividade02
atividade03
atividade04
atividade05
atividade06
atividade07
atividade08
atividade09
atividade10